* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

/* html {
  overflow-x: hidden;
} */

body {
  background-color: black;
}

.front-page {
  position: relative;
  width: 100vw;
  height: 63rem;
}

header {
  overflow: hidden;
}

canvas {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Nav */

.nav-section {
  position: fixed;
  width: 100vw;
  height: 3rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  z-index: 10000;
  background-color: transparent;
}

li {
  list-style-type: none;
  font-family: Helvetica, Sans-Serif;
  font-weight: 600;
  color: white;
}

.snelle-vape-img {
  height: 3.5rem;
  margin-left: 5rem;
}
.snelle-vape-img:hover {
  cursor: pointer;
}

.contact {
  width: 8rem;
  color: white;
  border: 2px solid rgb(13, 161, 188);
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 10px rgb(13, 161, 188);
}
.contact:hover {
  cursor: pointer;
  background-color: rgb(13, 161, 188);
}

.navbar-items {
  width: 15rem;
  margin-right: 3rem;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}

.shopping-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  box-shadow: 0px 0px 10px rgb(13, 161, 188);
  border: 2px solid rgb(13, 161, 188);
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
}

.shopping-cart:hover {
  cursor: pointer;
  background: rgb(13, 161, 188);
}

.fa-cart-shopping {
  color: white;
  font-size: 2rem;
}

.cart-count {
  color: white;
}

.menu-options {
  position: fixed;
  width: 100vw;
  height: 105vh;
  top: -1rem;
  z-index: 5;
  animation: opacityIn 0.2s ease-in forwards;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.menu-contact {
  height: 2rem;
}

/* Burger Menu */

.menu {
  display: none;
  position: relative;
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.burger-svg {
  display: none;

  position: relative;
  width: inherit;
  height: inherit;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* Nav End */

/* Header */

.header-text {
  min-width: 60vw;
  top: 30%;
  left: 20vw;
  height: 10rem;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}

.header-title {
  color: white;
  z-index: 4;
  font-family: Helvetica, Sans-Serif;
  font-weight: 600;
  font-size: calc(5vw + 0.5rem);
}

.header-title2 {
  color: white;
  z-index: 4;
  font-family: Helvetica, Sans-Serif;
  font-weight: 600;
  font-size: calc(3vw + 0.5rem);
}

.cta {
  color: white;
  z-index: 5;
  background-color: black;
  padding: 1rem;
  box-shadow: 0px 0px 15px rgb(13, 161, 188);
  border: 3px solid rgb(13, 161, 188);
  border-radius: 0.5rem;
}
.cta:hover {
  background: rgb(13, 161, 188);
  cursor: pointer;
}

.cta-img {
  height: 2rem;
}

.formbox-ref {
  position: relative;
  height: 4.3rem;
  display: inline-block;
}

.cta-container {
  width: 96vw;
  top: 65%;
  left: 1%;
  height: 10rem;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

/* Header End */

/* Menu Start */

.copyright {
  position: absolute;
  top: 123rem;
  height: 2rem;
  left: 45vw;
}

.main-menu {
  position: relative;
  height: 63rem;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(145, 11, 127)
  );
  /* border-top: 1px solid white; */
}

.form-textbox {
  position: relative;
  top: 5rem;
  left: 25vw;
  width: 50vw;
  height: 6rem;
  background: rgb(145, 11, 127);
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  box-shadow: 0px 0px 12px rgb(191, 28, 169);
}

.form-text {
  color: white;
  font-family: Helvetica, Sans-Serif;
  font-weight: 600;
  font-size: 1.9vw;
}

.form-subtext {
  color: white;
  font-family: Helvetica, Sans-Serif;
  font-weight: 600;
  font-size: 0.9vw;
}

.flex-options {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.form-box {
  position: relative;
  top: 10rem;
  left: 25vw;
  width: 50vw;
  height: 40rem;
  background: rgb(49, 7, 44);
  box-shadow: 0px 0px 12px rgb(191, 28, 169);
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  overflow-y: scroll;
}

.flavor-positioning {
  position: relative;
  height: 7rem;
  background: rgb(167, 128, 160);
  min-width: 95%;
  border-radius: 0.3rem;
  gap: 1rem;
  display: flex;
}

.flavor1 {
  position: relative;
  margin-top: 40rem;
}

.flavor10 {
  position: relative;
  margin-bottom: 1rem;
}

.form-img {
  position: relative;
  height: 95%;
  top: 3%;
  left: 0.2rem;
  border-radius: 0.3rem;
}

.form-title {
  display: flex;
  align-items: center;
  font-family: Helvetica, Sans-Serif;
  font-weight: 600;
  min-width: 20vw;
}

.inc-button {
  position: relative;
  height: 50%;
  top: 25%;
  width: 4rem;
  font-size: 2rem;
  font-family: Helvetica, Sans-Serif;
  font-weight: 600;
  background: rgb(167, 128, 160);
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0px 0px 2px black;
}

.inc-button:hover {
  background: black;
  color: white;
}

.dec-button {
  position: relative;
  height: 50%;
  top: 25%;
  width: 4rem;
  font-size: 2rem;
  font-family: Helvetica, Sans-Serif;
  font-weight: 600;
  background: rgb(167, 128, 160);
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0px 0px 2px black;
}

.dec-button:hover {
  background: black;
  color: white;
}

.amount-class {
  position: relative;
  height: 50%;
  width: 4rem;
  top: 25%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  font-size: 2rem;
  border-radius: 0.3rem;
}

.fa-cart-plus {
  top: 25%;
  left: 2rem;
  color: white;
  font-size: 3rem;
  position: relative;
  width: 5rem;
  height: 3.5rem;

  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  box-shadow: 0px 0px 5px black;
}

.fa-cart-plus:hover {
  cursor: pointer;
  background-color: black;
}

/* Media Queries */

@media only screen and (max-width: 1000px) {
  .navbar-items {
    margin: 0;
  }
}

@media only screen and (max-width: 700px) {
  .contact {
    display: none;
  }
  .burger-svg {
    display: initial;
  }
  .menu {
    display: initial;
  }
  .snelle-vape-img {
    margin-left: 0.3rem;
    height: 2.5rem;
  }
  .header-text {
    left: 5vw;
    width: 90vw;
  }
  .header-title {
    font-size: 12vw;
  }
  .header-title2 {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 450px) {
  .contact {
    display: none;
  }
  .snelle-vape-img {
    height: 2.5rem;
  }
  .shopping-cart {
    position: relative;
  }
  .fa-cart-shopping {
    font-size: 1.3rem;
  }
  .cart-count {
    font-size: 1.7rem;
  }
  .burger-button {
    left: -0.5rem;
    height: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .snelle-vape-img {
    height: 2rem;
  }
  .shopping-cart {
    position: relative;
    /* left: 1.5rem; */
  }
  .cta {
    padding: 0.3rem;
  }
  .cta-img {
    height: 1.5rem;
  }
  .burger-button {
    left: -2rem;
  }
}
