@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.hidden {
  display: none !important;
}

.main-panel {
  width: 100vw;
  height: 63rem;
  background: linear-gradient(
    90deg,
    rgb(237, 235, 248),
    #fffdfd,
    #e4e1e1,
    #cdc8c8,
    rgb(189, 188, 192)
  );
}

/* Navbar */
.side-panel {
  position: absolute;
  width: 5rem;
  top: 2.5vh;
  left: 1rem;
  height: 95vh;
  background-color: rgb(68, 89, 233);
  border-radius: 1rem;
  z-index: 5;
}

.fa-cloud-bolt {
  position: relative;
  font-size: 3.75rem;
  color: white;
  left: 9px;
  top: 8px;
}
.fa-cloud-bolt:hover {
  transition: 0.1s ease-in-out;
}

.home {
  position: absolute;
  width: 80%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  top: 12rem;
  padding: 0.2rem;
  cursor: pointer;
  background-color: rgb(68, 89, 233);
  border-radius: 0.5rem;
  overflow: visible;
}

.fa-house {
  font-size: 2.5rem;
  color: white;
}

.stats {
  position: absolute;
  width: 80%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  top: 18rem;
  padding: 0.5rem;
  background-color: rgb(68, 89, 233);
  border-radius: 0.5rem;
  overflow: visible;
}

.fa-chart-column {
  font-size: 2.5rem;
  color: white;
}

.fa-chart-column:hover {
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.message {
  position: absolute;
  width: 80%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  top: 24rem;
  padding: 0.5rem;
  background-color: rgb(68, 89, 233);
  border-radius: 0.5rem;
  overflow: visible;
}

.fa-envelope {
  font-size: 2.5rem;
  color: white;
}

.fa-envelope:hover {
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.earnings {
  position: absolute;
  width: 80%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  top: 30rem;
  padding: 0.5rem;
  background-color: rgb(68, 89, 233);
  border-radius: 0.5rem;
  overflow: visible;
}

.fa-sack-dollar {
  font-size: 2.5rem;
  color: white;
}

.fa-sack-dollar:hover {
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

/* Home panel */

.home-panel {
  position: absolute;
  width: 98vw;
  top: 2.5vh;
  left: 1rem;
  height: 95vh;
  background: url("./img/smoke.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 2px solid rgb(68, 89, 233);
  border-radius: 0.8rem;
  box-shadow: 0px 0px 10px;
  z-index: 3;
  overflow: hidden;
}

.home-title {
  position: relative;
  left: 10vw;
  top: 5rem;
  color: rgb(255, 255, 255);
  font-family: "Archivo Black", sans-serif;
  font-size: 2.7vw;
}

.new-orders {
  position: absolute;
  left: 41vw;
  top: 5.5rem;
  width: 25rem;
  height: 4rem;
  background-color: rgba(68, 89, 233, 0.8);
  color: rgb(255, 255, 255);
  font-family: "Archivo Black", sans-serif;
  font-size: 0.8rem;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  border-radius: 0.8rem;
  cursor: pointer;
}

.new-orders:hover {
  background-color: rgba(68, 89, 233, 1);
}

.new-messages {
  position: absolute;
  left: 65vw;
  top: 5.5rem;
  width: 25rem;
  height: 4rem;
  background-color: rgba(68, 89, 233, 0.8);
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 0.8rem;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  border-radius: 0.8rem;
  cursor: pointer;
}

.new-messages:hover {
  background-color: rgba(68, 89, 233, 1);
}

.snelle-admin-panel {
  position: absolute;
  top: 25rem;
  left: 30%;
  width: 40vw;
  height: 15rem;
  background-color: rgba(68, 89, 233, 0.6);
  box-shadow: 0px 0px 10px rgba(68, 89, 233, 1);
  z-index: 10;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.admin-txt1 {
  font-size: 5vw;
  font-family: "Archivo Black", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0px 0px 10px rgba(68, 89, 233, 0.8);
}
.admin-txt2 {
  font-size: 4vw;
  font-family: "Archivo Black", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0px 0px 10px rgba(68, 89, 233, 0.8);
}

.fadeDivIn {
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.fadeDivIn2 {
  animation: fadeIn2 1s forwards;
}

@keyframes fadeIn2 {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.orders-panel {
  position: absolute;
  width: 98vw;
  top: 2.5vh;
  left: 1rem;
  height: 95vh;
  background: url("./img/smoke2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 2px solid rgb(68, 89, 233);
  border-radius: 0.8rem;
  box-shadow: 0px 0px 10px;
  z-index: 3;
  overflow: hidden;
}

.turn {
  animation: turnRound 1s ease-in-out forwards;
}

@keyframes turnRound {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.orders-title {
  position: absolute;
  font-size: 3rem;
  left: 10vw;
  top: 2rem;
  color: rgb(68, 89, 233);
  z-index: 100;
  width: 4rem;
  font-family: "Archivo Black", sans-serif;
}

.orders-box {
  position: absolute;
  height: 40rem;
  width: 70rem;
  left: 20vw;
  top: 10rem;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(68, 89, 233);
  border-radius: 0.8rem;
  box-shadow: 0px 0px 10px rgba(68, 89, 233, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  padding-left: 2rem;
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 3rem;
  overflow: scroll;
  overflow-x: hidden;
}

.obx-orders {
  position: absolute;
  background-color: black;
  top: -1rem;
  width: 100%;
  left: -0.2rem;
}

.box {
  border: 2px solid rgb(68, 89, 233);
  box-shadow: 0px 0px 10px rgba(68, 89, 233, 1);
  border-radius: 0.8rem;
  position: relative;
  top: 1rem;
  width: 95%;
  left: 2.5%;
  height: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.box:hover {
  background-color: rgba(13, 39, 189, 0.221);
}

.box-counter {
  position: relative;
  border-radius: 0.8rem;
  padding: 0rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  font-size: 2vw;
}

.box-name {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}
.box-qty {
  position: relative;
  width: 25%;
  font-size: 2vw;
  padding-right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.customer-box {
  position: absolute;
  height: 40rem;
  width: 70rem;
  left: 20vw;
  top: 10rem;
  /* background-color: rgb(92, 94, 92); */
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(68, 89, 233);
  border-radius: 0.8rem;
  box-shadow: 0px 0px 10px rgba(68, 89, 233, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 2rem;
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 1.5vw;
  z-index: 200;
}

.cust-info-box {
  position: absolute;
  left: 7rem;
  top: 4.5rem;
  padding-left: 10rem;
  border: 2px solid rgb(68, 89, 233);
  border-radius: 0.8rem;
  box-shadow: 0px 0px 10px rgba(68, 89, 233, 1);
  width: 35rem;
  min-height: 20rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.cust-info-box2 {
  position: absolute;
  left: 45rem;
  top: 4.5rem;
  padding-left: 1rem;
  border-radius: 0.8rem;
  /* border: 2px solid rgb(68, 89, 233);
  box-shadow: 0px 0px 10px rgba(68, 89, 233, 1); */
  width: 22rem;
  min-height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.1rem;
}

.cust-info-title {
  position: relative;
  padding: 0rem 0rem 2rem 0rem;
}

.cust-discount {
  padding: 0.1rem;
  border: 2px solid rgb(68, 89, 233);
  border-radius: 0.6rem;
  box-shadow: 0px 0px 10px rgba(68, 89, 233, 1);
  min-width: 20rem;
  text-align: center;
  font-size: 1.2rem;
}

.cust-total {
  padding: 0.1rem;
  border: 2px solid rgb(68, 89, 233);
  border-radius: 0.6rem;
  box-shadow: 0px 0px 10px rgba(68, 89, 233, 1);
  min-width: 20rem;
  text-align: center;
  font-size: 1.2rem;
}

.cust-prijs {
  padding: 0.1rem;
  border: 2px solid rgb(68, 89, 233);
  border-radius: 0.6rem;
  box-shadow: 0px 0px 10px rgba(68, 89, 233, 1);
  min-width: 20rem;
  text-align: center;
  font-size: 1.2rem;
}

.cust-freevape {
  padding: 0.2rem;
  border: 2px solid rgb(68, 89, 233);
  border-radius: 0.6rem;
  box-shadow: 0px 0px 10px rgba(68, 89, 233, 1);
  width: 20rem;
  font-size: 1.2rem;
  text-align: center;
}

.cust-selection {
  position: absolute;
  top: 24rem;
  left: -38.3rem;
  height: 10rem;
  padding: 0.2rem;
  border: 2px solid rgb(68, 89, 233);
  border-radius: 0.6rem;
  box-shadow: 0px 0px 10px rgba(68, 89, 233, 1);
  width: 60rem;
  font-size: 1.2rem;
  text-align: center;
  /* background-color: white; */
  color: white;
  /* display: flex;
  flex-direction: row; */
}

.cust-selected {
  display: inline-block;
  width: 40%;
  /* margin: 1rem; */
  position: relative;
  word-wrap: break-word;
  font-size: 1.4rem;
}

.fa-arrow-right-to-bracket {
  position: absolute;
  color: white;
  font-size: 2rem;
  left: 1rem;
  top: 1rem;
  transform: rotate(180deg);
  cursor: pointer;
}

.fa-arrow-right-to-bracket:hover {
  color: rgb(255, 0, 0);
}

.fa-arrows-rotate {
  position: absolute;
  left: 90vw;
  top: 3rem;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}
.fa-arrows-rotate:hover {
  text-shadow: 0px 0px 15px white;
}

.messages-panel {
  position: absolute;
  width: 98vw;
  top: 2.5vh;
  left: 1rem;
  height: 95vh;
  background: url("./img/smoke3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 2px solid rgb(68, 89, 233);
  border-radius: 0.8rem;
  box-shadow: 0px 0px 10px;
  z-index: 3;
  overflow: hidden;
}

.messages-title {
  position: absolute;
  font-size: 3rem;
  left: 10vw;
  top: 2rem;
  color: rgb(68, 89, 233);
  z-index: 100;
  width: 4rem;
  font-family: "Archivo Black", sans-serif;
}

.earnings-panel {
  position: absolute;
  width: 98vw;
  top: 2.5vh;
  left: 1rem;
  height: 95vh;
  background: url("./img/smoke4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 2px solid rgb(68, 89, 233);
  border-radius: 0.8rem;
  box-shadow: 0px 0px 10px;
  z-index: 3;
  overflow: hidden;
}

.earnings-title {
  position: absolute;
  font-size: 3rem;
  left: 10vw;
  top: 2rem;
  color: rgb(68, 89, 233);
  z-index: 100;
  width: 4rem;
  font-family: "Archivo Black", sans-serif;
}
